  :root{
    --bg: #008b8b;
    --bg-light: rgb(0 139 139 / 20%);
  }
  .page-topbar, .page-topbar.sidebar_shift{
    background-color: var(--bg) !important;
    background-image: none !important;
}
#main-menu-wrapper li.open .sub-menu a.active, #main-menu-wrapper li.open .sub-menu a:hover, #main-menu-wrapper li .sub-menu a:hover {
  background-color: var(--bg-light) !important;
  border-left: 4px solid var(--bg) !important;
}
#main-menu-wrapper li a:hover {
  background-color: var(--bg-light) !important;
  border-left: 4px solid var(--bg) !important;
}
#main-menu-wrapper li.open a {
  background-color: var(--bg-light) !important;
  border-left: 4px solid var(--bg) !important;
}
.form-control:focus, .has-focus .form-control {
  border-color: var(--bg) !important;
}
.pagination>.active>a, .pagination>.active>span, .pagination>.active>a:hover, .pagination>.active>span:hover, .pagination>.active>a:focus, .pagination>.active>span:focus {
  background-color: var(--bg) !important;
  border-color: var(--bg) !important;
}
#dashboard-divparent nav{
  background-color: var(--bg-light) !important;
}
#dashboard-divparent nav h2 b{
  color: var(--bg) !important;
}
#dashboard-divparent .parttwo .amount{
 background-color:  var(--bg) !important;
}
.modal-header{
  background-color: var(--bg) !important;
}
thead, th{
  background-color: var(--bg) !important;
  color: #fff !important;
}
.header_view h2{
  color: var(--bg) !important
}
.btn-primary:hover, .btn-primary:active, .btn-primary:focus,
    .btn-primary:active:focus{
        background-color: var(--bg) !important
    }
    .btn-primary:active:focus,
    .btn.btn-primary, .btn.btn-primary.active{
        background-color: var(--bg) !important
    }
.dropdown__btn,
.theme-bg{
  background-color: var(--bg) !important
}
.td__profileName{
  background-color: var(--bg-light) !important
}
input:checked + .slider,
.drawer_modal .btn__icon-left{
  background-color: var(--bg) !important;
}
.drawer_modal button{
  border: 2px solid var(--bg) !important;
  color: var(--bg) !important;
}
.pwa_prompt-title{
  color: var(--bg) !important;
}
#install_btn{
  background: var(--bg) !important;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus {
  color: #fff;
  background-color: var(--bg) !important;;
}
/* .page-topbar .logo-area{
  background-color: var(--bg-logo) !important;
} */